/* Styling for the like button */
.like-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.likeButton {
    background-color: transparent;
    border: 2px solid #e0245e; 
    border-radius: 50px;
    padding: 5px 15px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 18px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.likeButton:focus {
    outline: none;
}

.heart-icon {
    font-size: 6px;
    transition: transform 0.2s ease, color 0.3s ease;
}

.heart-icon svg {
    color: #ffffff;
    margin-top: 2px;
    width: 20px;
    height: auto;
}

.likeButton.liked .heart-icon svg{
    color: #e0245e; 
    transform: scale(1.2);
    animation: pulse 1s ease-in-out infinite; 
}

.likeButton:disabled {
    cursor: not-allowed;
    opacity: 0.9;
}

.like-count {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 900;
    color: #ffffff;
    transition: opacity 0.3s ease, transform 0.3s ease; 
}

/* Pulse animation for Instagram-style effect */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.8);
    }
}
