* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

.container {
  background-color: black;
  min-height: 100vh;
  height: fit-content;
  max-width: 1000px; 
  position: relative;
  margin: 0 auto;
  padding-bottom:80px;
}


@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

/* large screens*/
@media (min-width: 1500px) {
  .container {
    width: 1200px;
    min-height: 100vh;
    height: fit-content;
  }
}


@media (max-width: 768px) {
  .container {
    width: 100%;
    min-height: 100dvh;
    height: fit-content;
    padding-bottom: 65px;
  }
}

body::-webkit-scrollbar {
  display: none;
}