* {
  padding: 0%;
  margin: 0%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: calc(24px + 3vw);
}

h2 {
  font-size: calc(20px + 3vw);
}

h3 {
  font-size: calc(16px + 2vw);
}

p {
  font-family: Roboto;
  font-size: calc(10px + 1vw);
}