.navcontainer {    
    background-color: rgb(24, 24, 24);
    display: flex;
    margin: 2% 3% 0 3%;
    padding: 10px;
    align-items: center;
    position: fixed;
    top: 0;
    transition: top 0.5s ease, opacity 0.3s ease;  /* Transition for smooth hide/show */
    justify-content: space-around;
    box-sizing: content-box;
    border: solid 2px white;
    border-radius: 50px;
    max-width: 1200px;
    width:90%;
    height: 70px;
    z-index: 10; /* Ensure it stays on top */
}

.navcontainer.hidden {
    top: -130px; /* Hide navbar */
  }
  
  .navcontainer.visible {
    top: 0; /* Show navbar */
  }

/* Section for the links */
.linksection {
    display: flex;
    justify-content: space-around;
    gap: 20%;
}

/* Logo container */
.navlogocontainer {
    height: 100%;
    width: auto;
    background-color: black;
    padding: 10px;
    z-index: 2;
    position: sticky;
    border: 1px solid white;
    border-radius: 100px;
    box-sizing: border-box;
}



/* Logo image styling */
.navlogo {
    height: 48px;
    width: auto;
    object-fit: scale-down;
}

/* Navigation link styling */
.navlink {
    font-weight: 900;
    width: calc(50px + 2vw);
}
